.navigation__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  width: 80px;
  height: 40px;
  font-size: 16px;
  color: blue;
  text-decoration: none;
  background: yellow;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
  cursor: pointer;
}

.main {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main__content {
  width: 70%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__content_login {
  width: 100%;
}

.main__sidebar {
  width: 30%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 5em auto;
}

.tasklist__task {
  width: 60vw;
  background: lightcoral;
  border: 2px solid lightseagreen;
  border-radius: 20px;
  margin-bottom: 2em;
  line-height: 1;
}

.tasklist__task:last-of-type {
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.login__form {
  width: 20em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.task__form {
  width: 30vw;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  display: none;
  margin-bottom: 1em;
}

.task__form_visible {
  display: flex;
}

.button__show-form {
  cursor: pointer;
  border: 2px solid slateblue;
  border-radius: 5px;
  color: darkcyan;
  font-size: medium;
  font-weight: 600;
  margin-bottom: 1em;
  padding: .1em 1em;
}

.sort {
  margin-bottom: 5em;
}

.task__form_input-error {
  font-size: 10px;
  color: red;
  padding: 5px 0;
  height: 1em;
}

.task__submit {
  background-color: aquamarine;
  font-size: large;
  cursor: pointer;
  margin: 10px auto;
}
